
.tr,.td{
  padding: 10px;
  color: #000;
  justify-content: center;
  text-align: center;
  justify-items: center;
}
.name{
    column-width: 350px;
}
.number{
    column-width: 140px;
}
h1{
  text-align: center;
  color: #000;
  font-size: 24px;
}

a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}


  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 2px solid #ccc;*/
    border-radius: 4px;
    /*background-color: #f8f8f8;*/
    font-size: 16px;
  }

  .disabled{
    border-color:transparent!important;
    background-color:transparent!important;
  }
