<p class="title">Historique Détaillé<br>
  Au nom de : <b>{{detailGeneral.nomPrenomClient}}</b><br>Fait le : <b>{{detailGeneral.dateCommmande}}</b>
    <br> Adresse de Livraison : <b> {{detailGeneral.adresseLivraison}} {{detailGeneral.telephoneReceptionLivraison}}</b><br>
    </p>
<!-- <div *ngFor="" -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Categorie</th>
      <th scope="col">Marque</th>
      <th scope="col">Nom d'Article</th>
      <th scope="col">Quantite</th>
      <th scope="col">Like Count</th>
      <th scope="col">Prix Unitaire</th>
      <th scope="col">Prix Total</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let commande of listCommandes; let i = index;">
      <th scope="row">{{i+1}}</th>
      <td>{{commande.categorie}}</td>
      <td>{{commande.marque}}</td>
      <td>{{commande.nomArticle}}</td>
      <td>{{commande.quantite}}</td>
      <td>{{commande.likeCount}}</td>
      <td>{{commande.prixArticle.toFixed(2)}}{{symbol}}</td>
      <td>{{(commande.prixArticle*commande.quantite).toFixed(2)}}{{symbol}}</td>
      <td><img src="{{commande.image}}" height="60" width="90"></td>
    </tr>
  </tbody>
</table>
<p class="total_price">
  Prix total : <b>{{total.toFixed(2)}}{{symbol}}</b><br>
  <button *ngIf="annule==0" class="btn btn-secondary" (click)="cancelDelivery()">Annuler ma commande</button>
  <button *ngIf="annule!=0" class="btn btn-danger" disabled>Commande Annulée</button>
</p>
