<div class="checkout_container">
  <h1 style="padding-top:20px;">Vous pouvez toujours nous appelez sur +71 421 421</h1>
  <!-- <button class="labelclass" mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button> -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="form">
        <ng-template matStepLabel>Shipping Details</ng-template>
        <mat-form-field>
          <mat-label>Shipping Type</mat-label>
          <mat-select formControlName="typeLivraison">
            <mat-option *ngFor="let type of typeLivraison" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput class="first_input" placeholder="Shipping Adress" formControlName="adresseLivraison" required>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput class="first_input" placeholder="Receiver Phone Number" formControlName="numeroDestinataire" required>
        </mat-form-field><br>
        <div>
          <button mat-button matStepperNext class="stepper_btn" (click)="checkSelect()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Payment Informations</ng-template>
        <mat-form-field>
          <mat-label>Payment Method</mat-label>
          <mat-select formControlName="methodePaiement">
            <mat-option *ngFor="let type of methodePaiement" [value]="type.value" (click)="check()">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field id="cardn" class="dependent" >
          <input matInput placeholder="Card Number" formControlName="cardNumber" required>
        </mat-form-field><br>
        <mat-form-field id="carded" class="dependent" >
          <input matInput style="width:300px!important;" [matDatepicker]="picker" placeholder="Expiration Date" formControlName="expirationDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field id="cardc" class="dependent" >
          <input matInput  placeholder="CVV" formControlName="cvv" required>
        </mat-form-field><br>
        <div>
          <button mat-button matStepperPrevious class="stepper_btn stepper_back_btn">Back</button>
          <button mat-button matStepperNext class="stepper_btn" (click)="fillPayement()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Last Check</ng-template>


      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categorie</th>
            <th scope="col">Marque</th>
            <th scope="col">Nom d'Article</th>
            <th scope="col">Quantite</th>
            <th scope="col">Like Count</th>
            <th scope="col">Prix Unitaire</th>
            <th scope="col">Prix Total</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of lplist; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{commande.categorie}}</td>
            <td>{{commande.marque}}</td>
            <td>{{commande.nomArticle}}</td>
            <td>{{commande.quantite}}</td>
            <td>{{commande.likeCount}}</td>
            <td>{{commande.prixArticle.toFixed(2)}}</td>
            <td>{{(commande.prixArticle*commande.quantite).toFixed(2)}}</td>
            <td><img src="{{commande.image}}" height="60" width="90"></td>
          </tr>
        </tbody>
      </table>
      <p class="total_price">Prix total : <b>{{total.toFixed(2)}}</b></p>


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="checkout()">Validate</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
